@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url("https://fonts.googleapis.com/css?family=Reddit+Sans:regular,500,600,700,800,900&display=swap");
// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Reddit Sans";
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {

	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт завантажений
	.loaded & {}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: toRem(970);
		}

		@media (max-width: $tablet) {
			max-width: toRem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

.products {
	display: grid;
	margin: toRem(50) 0;

	gap: toRem(30);

	&__toolbar {
		display: flex;
		justify-content: space-between;
	}

	&__empty {
		display: flex;
		justify-content: center;
		font-weight: 700;
		font-size: toRem(20);
	}
}

.product {
	// .product__image
	display: flex;
	cursor: pointer;
	padding: toRem(10);
	border: toRem(1) solid transparent; // начальный цвет бордера прозрачный
	border-radius: toRem(10);

	transition: border-color 0.3s; // плавное изменение цвета бордера

	@media (any-hover: hover) {
		&:hover {
			border-color: rgba(50, 149, 251, 1); // нестандартный цвет бордера

			.product__controlls {
				opacity: 1;
			}
		}
	}

	gap: toRem(20);



	&__image {
		flex: 0 0 25%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	// .product__content
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 50%;
	}

	&__controlls {
		display: flex;
		transition: all 0.3s;
		display: flex;
		align-self: center;
		justify-content: flex-end;
		gap: toRem(10);
		flex: 0 0 25%;
		opacity: 0;
	}



	// .product__title
	&__title {
		font-weight: 700;
		font-size: toRem(25);
		padding-bottom: toRem(10);
	}

	// .product__body
	&__body {
		display: flex;
		font-weight: 600;
		font-size: toRem(18);
		gap: toRem(20);
		margin-bottom: toRem(10);
	}

	// .product__sizes
	&__sizes {
		display: flex;
		font-weight: 600;
		font-size: toRem(18);
		gap: toRem(20);
		margin-bottom: toRem(10);
	}

	// .product__coments-quantity
	&__coments-quantity {
		display: flex;
		font-weight: 600;
		font-size: toRem(18);
		gap: toRem(20);
	}
}


.product-modal {

	// .product-modal__line
	&__content {
		display: grid;
		gap: toRem(30);

	}

	&__line {
		display: flex;
		gap: toRem(10);
		flex-direction: column;
	}

	// .product-modal__Label
	&__Label {
		font-weight: 600;
	}
}